.metadata/
RemoteSystemsTempFiles/
*.xml
*.pdf
*.ccxml
*.cmd
*.mk
USB_stickyPrinter/Release/
USB_stickyPrinter/Debug/
*.ccsproject
*.cproject
*.launch
*.project
*.prefs
*.pptx
USB_stickyPrinter/targetConfigs/readme.txt
